/* Adicionar aqui toda a estilização criada para sua aplicação. */

body{
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

:root{
    --azul: #32b9cd;
    --amarelo: #e3b062;

}

/*Header*/
.header{
    background: #000;
    border-bottom:3px solid var(--azul);
}

.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 120px;
}

.titulo{
    color: var(--azul);
}

.navbar{
    display: flex;
    justify-content: space-between;
    list-style: none;
    color:var(--amarelo);
    width: 300px;
}

.navbar a{
    color:var(--amarelo);
    text-decoration: none;
}

.agora{
    font-weight: bold;
}
/*Banner*/

.banner{
    height: 400px;
    width: 100%;
    background-image: url('../assets/imgs/bg-jelly-fish-para-home.png');
    background-size: cover;
}

.banner .container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .container p{
    width: 170px;
    margin: 0;
    color: #ffffff;
    font-size: 24px;
}

.banner .container span{
    font-weight: bolder;
}

/*Missões visão e valores*/

.social{
    height: 400px;
    width: 100%;
    background-color: #dcdcdc;
}

.social .container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxes{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box{
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.box img{
    width: 120px;
    height: 120px;
}

.box h4{
    margin: 10px 0 0 0;
    color: #e4005A;
}

/*footer*/

.footer{
    height: 120px;
    width: 100%;
    background: var(--azul);
    
}

.footer .container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #ffffff;
}

.footer  h4{
    margin-bottom: 0;
}